/*
Pure Pallet (^_^) for TinyBBS-like (includes ATBBS2?) [squared]
Feel free to e-mail me better name suggestions and rage: stal@minichan.org
Shout-outs go to drmathochist, Marina, femanon, seisatsu, Ferus, etc. I <3 you all (especially Marina :D)!
*/
.body { margin-bottom: 1em; }
#notice { text-align: center; }

body {
    background-color:#e7f4ff;
}

#logo { display:none; } body { padding:1em 1em 0 1em; }

.body {
    background-color:#bce0ff;
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
}

.codebox {
    color: #393939;
}

span.quote {
    color:#2f9fff;
}

.highlighted {
    background-color:#d8eeff;
}

.spoiler {
    background-color:#000;
    text-shadow: 0 0 #000;
}

.spoiler:hover {
    color:#fff;
}

.border {
    background-color:#8ecbff;
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.60);
    box-shadow:0px 1px 1px rgba(255,255,255,0.60);
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.60);
}

.highlight {
    background-color:#ffff99;
}

#notice {
    background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#8fccff), to(#bfe2ff)) !important;
    background-image:-moz-linear-gradient(19% 75% 90deg,#8fccff, #bfe2ff);
    background-image: -o-linear-gradient(90deg, #8fccff, #bfe2ff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#bfe2ff', EndColorStr='#8fccff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#bfe2ff', EndColorStr='#8fccff')";
    box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
}


h3, ul#main_menu, table {
    background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#70a9ff), to(#8fccff)) !important;
    background-image:-moz-linear-gradient(19% 75% 90deg,#70a9ff, #8fccff);
    background-image: -o-linear-gradient(90deg, #70a9ff, #8fccff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#8fccff', EndColorStr='#70a9ff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#8fccff', EndColorStr='#70a9ff')";
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    box-shadow:0px 1px 3px rgba(0,0,0,0.35);
}

table th {
    background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#70a9ff), to(#8fccff)) !important;
    background-image:-moz-linear-gradient(19% 75% 90deg,#70a9ff, #8fccff);
    background-image: -o-linear-gradient(90deg, #70a9ff, #8fccff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#8fccff', EndColorStr='#70a9ff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#8fccff', EndColorStr='#70a9ff')";
}

table td {
    background-color:#b4dcff;
}

table tr.odd td {
    background-color:#cde8ff;
}

table tr:hover td {
    background-color:#ffffff !important;
}

em.marked {
    background-color:#ff9;
}


#last_seen_marker {
    border-top:2px solid #70a9ff;
}

.video,video,a.video {
    background-color:#bce0ff;
    -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
    box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
}

a.video {
    -webkit-box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
    box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
    -moz-box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
}