/* 
Grassy Green (a.k.a. Viridian 2.0, Forest) for TinyBBS-like [squared]
Bug reports, name suggestions and rage: stal@minichan.org
Shout-outs go to drmathochist, Marina and Sarah, in no particular order. <3s all around!

13/04/11 - Fixed youtube links and player background.  
*/
body {
		background-color:#d1e4cc;
		font-family:arial, sans-serif;
		font-size:12px;
		/*text-shadow: 0 1px rgba(255,255,255,0.4);*/ /*Will be reenabled as soon as OS X gains majority.*/
		padding:1em;
		padding-bottom:0!important;
		margin:0px;
		}
		.body {
				background-color:#b1d8a6;
				line-height:1.5em;
				margin-bottom:1em;
				margin-top:0em;
				overflow:hidden;
				padding:.5em;
				white-space:normal;
				word-wrap:break-word;
				-moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
				box-shadow:0px 1px 3px rgba(0,0,0,0.35);
				-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
		}
		.body img {
				-webkit-border-radius:8px;
				border-radius:8px;
				-moz-border-radius:8px;
				border:none!important;
				float:left;
				margin-bottom:6px;
				margin-right:7px;
		}
		.body ul.menu {
				clear:both;
				margin:.5em 0 0;
				text-align:right;
		}
				.body ul.menu li {
						margin:0 0 0 .5em;
				}

.codebox {
		overflow: auto;
		display: block;
		height: auto;
		max-height: 250px;
		white-space: normal;
		padding-top: 5px;
		font: 0.9em monaco, "andale mono","courier new", courier, mono;
		line-height: 1.3em;
		color: #393939;
		margin: 3px 0;
}

span.quote {
		color:#1e710b;
}

.highlighted {
		background-color:#cbe9c3;
		border-bottom:2px solid #5ca547;
} /* I don't know if I like this one. */

.spoiler {
		background-color:#000;
		text-shadow: 0 0 #000;
}
		.spoiler:hover {
				color:#fff;
		}

.border {
		background-color:#7ec67e;
		border:1px solid #1E710B;
		margin:1em;
		padding:.5em;
		-moz-box-shadow:0px 1px 1px rgba(255,255,255,0.60);
		box-shadow:0px 1px 1px rgba(255,255,255,0.60);
		-webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.60);
}

.highlight {
		background-color:#ffff99;
		font-style:normal;
		font-weight:700;
}

a {
		color:#000;
}

#notice {
		background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#65ce64), to(#72e671)) !important;
		background-image:-moz-linear-gradient(19% 75% 90deg,#65ce64, #72e671);
		background-image: -o-linear-gradient(90deg, #65ce64, #72e671);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#72e671', EndColorStr='#65ce64');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#72e671', EndColorStr='#65ce64')";
		box-shadow:0px 1px 3px rgba(0,0,0,0.35);
		-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
		-moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
		padding:.5em;
		margin-left: .1em;
		margin-right: .1em;
		margin-top:0!important;
		text-align:center;
}

h1 {
		font-size:17px;
		text-align:center;
}
		h1 a {
				color:#000;
				text-decoration:none;
		}

h2 {
		font-size:16px;
}
		h2 a:hover {
		text-decoration:underline;
		}

h3 {
		background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#5ca547), to(#65ce64)) !important;
		background-image:-moz-linear-gradient(19% 75% 90deg,#5ca547, #65ce64);
		background-image: -o-linear-gradient(90deg, #5ca547, #65ce64);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#65ce64', EndColorStr='#5ca547');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#65ce64', EndColorStr='#5ca547')";
		-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
		-moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
		box-shadow:0px 1px 3px rgba(0,0,0,0.35);
		font-size:12px;
		font-weight:400;
		margin:0;
		padding:.5em;
		overflow:auto;
}

.reply_id {
		float:right;
		text-align:right;
		vertical-align:middle;
}

h4.section {
		font-size:15px;
		margin-bottom:7px;
}

h4.user {
		font-size:14px;
		margin:0 0 .5em;
}

label.common {
		float:left;
		padding-right:.5em;
		text-align:right;
		width:15em;
}

input,textarea {
		display:block;
}

textarea {
		font-family:monospace;
		-webkit-appearance:textfield;
}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
		outline:0px solid #f4f3fe;
}

fieldset {
		margin:1em 0;
}

ul.body,ul.error_message {
		list-style-type:none;
}

ul.error_message {
		margin:0;
		padding:0;
}
		ul.error_message li {
				font-style:italic;
				padding:.2em;
		}

ul.menu {
		margin:1em;
		text-align:center;
}
		ul.menu li {
				display:inline;
				font-weight:700;
				margin:0 1em;
		}

ul#main_menu {
		background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#5ca547), to(#65ce64));
		background-image:-moz-linear-gradient(19% 75% 90deg,#5ca547, #65ce64) !important;
		background-image: -o-linear-gradient(90deg, #5ca547, #65ce64);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#65ce64', EndColorStr='#5ca547');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#65ce64', EndColorStr='#5ca547')";
		-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
		box-shadow:0px 1px 3px rgba(0,0,0,0.35);
		-moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
		margin-top:0em;
		padding:.5em;
		margin-left:.1em;
		margin-right:.1em;
		margin-top:0!important;
}

ul.stuff {
		margin-bottom:2em;
}
		ul.stuff li {
				margin-bottom:.5em;
		}

table {
		background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#5ca547), to(#65ce64)) !important;
		background-image:-moz-linear-gradient(19% 75% 90deg,#5ca547, #65ce64) !important;
		background-image: -o-linear-gradient(90deg, #5ca547, #65ce64);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#65ce64', EndColorStr='#5ca547');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#65ce64', EndColorStr='#5ca547')";
		-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
		-moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
		box-shadow:0px 1px 3px rgba(0,0,0,0.35);
		border-collapse:collapse;
		margin-bottom:1em;
		margin-left:0em;
		margin-right:0em;
		width:100%;
		word-wrap:break-word!important;
}
		table th {
				background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#5ca547), to(#65ce64)) !important;
				background-image:-moz-linear-gradient(19% 75% 90deg,#5ca547, #65ce64) !important;
				background-image: -o-linear-gradient(90deg, #5ca547, #65ce64);
				filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#65ce64', EndColorStr='#5ca547');
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#65ce64', EndColorStr='#5ca547')";
				padding:.5em;
				text-align:left;
		}
		table td {
				background-color:#c5e4be;
				padding:.5em;
				vertical-align:top;
		}
		table tr.odd td {
				background-color:#B1D8A6;
		}
		table tr:hover td {
				background-color:#ffffff !important;
		}
		table .minimal {
				white-space:nowrap;
				width:1%;
}

.profile_fix {
		overflow:hidden;
		white-space:normal;
		word-wrap: break-word;
}

.reply_body_snippet,.snippet {
		font-style:italic;
}

.topic_headline .visited {
		font-weight:400!important;
}

.topic_info {
		float: right;
		cursor: default;
}

em.marked {
		background-color:#ff9;
		font-style:normal;
		font-weight:700;
}

p.caption {
		font-size:11px;
		margin-top:2px;
}

.inline {
		display:inline;
}

#last_seen_marker {
		border-top:2px solid #5ca547;
}

#snapback_link {
		left:2px;
		position:fixed;
		top:50%;
}

.video,a.video {
		margin-top:0em;
		width:500px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:1em;
		background-color:#b1d8a6;
		padding:8px;
		-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
		box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
		-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
		border-radius:8px;
}

.standalone,.row {
		margin-bottom:1em;
}

.body ul.menu li,.body ul.menu li a,.body ul.menu li span,.unimportant,.unimportant * {
		font-size:10px;
		text-shadow: 0 0 #fff;
}

a:hover,h2 a,#snapback_link a {
		text-decoration:none;
}

a.youtube_alternate,.noscreen {
		display:none;
}

h3#preview,h3#error,h3#replying_to,label,legend,.topic_headline a,.reply_body_snippet a,.snippet a {
		font-weight:700;
}

.help,.help_cursor {
		cursor:help;
}

#phrase {
		-webkit-appearance: searchfield;
        box-sizing: border-box;
}

#qr_text {
		width:99%;
}

#logo {
		display:none;
}

a.video {
		padding:0px;
		-webkit-box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
		box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
		-moz-box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
}

iframe {
	border:1px solid #000000;
}

.sticky {
	text-shadow:none!important; /* purple on green? i don't think so */
}