body {
    font-family:Arial, sans-serif;
    font-size:12px;
    padding-top:0;
    padding:0 1em;
    margin:0px;
}

:focus {
    outline: none;
}

a:focus {
    outline-style: none;
}

.body {
    line-height:1.5em;
    overflow:hidden;
    padding:.5em;
    white-space:normal;
    word-wrap:break-word;
}

.body img {
    border:none!important;
    float:left;
    margin-bottom:6px;
    margin-right:7px;
}

.body img {
	transition: width 50ms linear;
}

.body img.img-expanded {
	max-width: 100%;
}

.body img.img-loading {
    opacity: 0.5;
}

.body ul.menu {
    clear:both;
    margin:.5em 0 0;
    text-align:right;
}

.body ul.menu li {
    margin:0 0 0 .5em;
}

div#body_wrapper h2 {
    word-break: break-word;
    word-wrap: break-word;
}

.codebox2 {
    overflow: auto;
    margin: 0;
    line-height: normal;
}

.codebox {
    overflow: auto;
    display: block;
    height: auto;
    max-height: 250px;
    white-space: normal;
    padding-top: 5px;
    font: 0.9em monaco, "andale mono","courier new", courier, mono;
    line-height: 1.3em;
    margin: 3px 0;
}

.spoiler {
    background-color:#000;
    text-shadow: 0 0 #000;
    color:#000;
}

.spoiler:hover, .spoiler:hover a {
    color:#fff;
}

.border {
    border:1px solid #897de6;
    margin:1em;
    padding:.5em;
}

.highlight {
    background-color:#ffff99;
    font-style:normal;
    font-weight:700;
}

a {
    color:#000;
}

#notice {
    text-align: center;
    padding:.5em;
    margin-left:.1em;
    margin-right:.1em;
    margin-bottom:.5em;
}

h1 {
    font-size:17px;
    text-align:center;
}

h1 a {
    color:#000;
    text-decoration:none;
}

h2 {
    font-size:16px;
}

h2 a:hover {
    text-decoration:underline;
}

h3 {
    font-size:12px;
    font-weight:400;
    margin:0;
    padding:.5em;
    overflow:auto;
}

.reply_id {
    float:right;
    text-align:right;
    vertical-align:middle;
}

h4.section {
    font-size:15px;
    margin-bottom:7px;
}

h4.user {
    font-size:14px;
    margin:0 0 .5em;
}

label.common {
    float:left;
    padding-right:.5em;
    text-align:right;
    width:15em;
}

input,textarea {
    display:block;
}

#name {
    -webkit-appearance:textfield; /*Mac only.*/
}

#qr_text {
    -webkit-appearance:textfield; /*Mac only.*/
    width:99%; /*Added with much nagging from cumbutts*/
}

#body {
    -webkit-appearance:textfield; /*Mac only.*/
}

textarea {
    font-family:monospace;
    -webkit-appearance:textfield;
}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
    outline:0px solid #f4f3fe;
}

fieldset {
    margin:1em 0;
}

ul.body,ul.error_message {
    list-style-type:none;
}

ul.error_message {
    margin:0;
    padding:0;
}

ul.error_message li {
    font-style:italic;
    padding:.2em;
}

ul.menu {
    margin:1em;
    text-align:center;
}

ul.menu li {
    display:inline;
    font-weight:700;
    margin:0 1em;
}

ul#main_menu {
    margin-top:0em;
    padding:.5em;
    margin-left:.1em;
    margin-right:.1em;
    margin-top:0!important;
}

ul.stuff {
    margin-bottom:2em;
}

ul.stuff li {
    margin-bottom:.5em;
}

table {
    border-collapse:collapse;
    margin-bottom:1em;
    margin-left:0em;
    margin-right:0em;
    width:100%;
    word-wrap: break-word;
}

body.page-index table {
    word-break: break-word;
}

body.page-index table tr.ignored {
    display: none;
}

.show_ignored_link {
    font-size: 10px;
    font-weight: normal;
}

#body_wrapper table th.headline {
    min-width: 100px;
}

table th {
    padding:.5em;
    text-align:left;
}

table td {
    padding:.5em;
    vertical-align:top;
}

table .minimal {
    white-space:nowrap;
    width:1%;
}

.profile_fix {
    overflow:hidden;
    white-space:normal;
    word-wrap: break-word;
}

.reply_body_snippet,.snippet {
    font-style:italic;
}

.topic_info {
    float: right;
    cursor: default;
}

em.marked {
    font-style:normal;
    font-weight:700;
}

p.caption {
    font-size:11px;
    margin-top:2px;
}

.inline {
    display:inline;
}

.g-recaptcha-response {
    display: none !important;
}

#snapback_link {
    left:2px;
    position:fixed;
    top:50%;
    text-decoration: none;
}

#snapback_link strong {
    position: absolute;
}

#snapback_link span {
    font-size: 5pt;
    position: absolute;
    line-height: 4.5em;
    float: left;
    margin-left: 0.6em;
}

.video,a.video {
    margin-top:0em;
    width:500px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1em;
    padding:8px;
}

.standalone,.row {
    margin-bottom:1em;
}

.body ul.menu li,.body ul.menu li a,.body ul.menu li span,.unimportant,.unimportant * {
    font-size:10px;
    text-shadow: 0 0 #fff;
}

a:hover,h2 a {
    text-decoration:none;
}

a.youtube_alternate, .noscreen {
    display:none;
}

h3#preview,h3#error,h3#replying_to,label,legend,.topic_headline a,.reply_body_snippet a,.snippet a {
    font-weight:700;
}

.help,.help_cursor {
    cursor:help;
}

#phrase {
    -webkit-appearance:searchfield;
    box-sizing: border-box;
}

#qr_text {
    width:99%;
}

a.video {
    padding:0px;
}

.topic_headline a:visited, .topic_headline .visited {
    font-weight:400 !important;
}

/* ROUNDED CORNERS */

/* All corners */
body.rounded #notice,
body.rounded .body img,
body.rounded .video,
body.rounded a.video,
body.rounded #main_menu,
body.rounded table,
body.rounded ul.body.standalone
{
    border-radius: 9px;
}

/* Top */
body.rounded #body_wrapper h3
{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

/* Bottom */
body.rounded #body_wrapper div.body,
body.rounded h3#error
{
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

/* Top Left */
body.rounded #body_wrapper table thead tr th:first-child,
body.rounded #body_wrapper form table tbody tr:first-child th:first-child, /* search box */
body.rounded table#topic_poll tbody tr:first-child td:first-child
{
    border-top-left-radius: 9px;
}

/* Top Right */
body.rounded #body_wrapper table thead tr th:last-child,
body.rounded #body_wrapper form table tbody tr:first-child th:last-child, /* search box */
body.rounded table#topic_poll tbody tr:first-child td:last-child
{
    border-top-right-radius: 9px;
}

/* Bottom left */
body.rounded #body_wrapper table tbody tr:last-child td:first-child
{
    border-bottom-left-radius: 9px;
}

/* Bottom right */
body.rounded #body_wrapper table tbody tr:last-child td:last-child
{
    border-bottom-right-radius: 9px;
}

/* END Rounded corners. */

/*
CSS is based on stal's Minichan Modern. You don't have to donate to keep this project alive. This CSS took 15 minutes to be generated.
All trademarks and copyrights in this CSS are owned by their respective parties.
*/
