/* TinyBBS default mint CSS. */
body { background-color:#efe; }
.body { background-color:#efe; }
.codebox { color: #8b8b8b; }
span.quote { color:#3c6d8a; }
.highlighted { background-color:#e8e8e8; }
.spoiler { background-color:#000; }

.highlight { background-color:#8e8; }
#notice { background-color:#d8f0d8; }
h3 { background-color:#d8f0d8; }

ul#main_menu { background-color:#8e8; }
table th { background-color:#8e8; }
table td { background-color:#acdfa4; }
table tr.odd td { background-color:#b7e7af; }
table tr:hover td { background-color:#d8f0d8; }
em.marked { background-color:#ff9; }

input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
    outline:1px solid #8e8;
}

.border {
    background-color:#d8f0d8;
    border:3px dashed #ceceff;
}

#last_seen_marker {
	border-top:2px solid #8e8;
}
