/* TinyBBS default mono CSS. */
body {
    background-color:#d8d8d8;
}

.body {
    background-color:#d8d8d8;
}

.codebox {
    color: #8b8b8b;
}

span.quote {
    color:#3c6d8a;
}

.highlighted {
    background-color:#bbc;
}

.spoiler {
    background-color:#000;
}

.spoiler:hover {
    color:#fff;
}

.border {
    background-color:#e0e0e0;
    border:3px dashed #c0c0c0;
}

.highlight {
    background-color:#ffff99;
}

#notice {
    background-color:#e5e5e5;
    border:2px solid #999;
}

h1 a {
    text-decoration:none;
}

h2 a:hover {
    text-decoration:underline;
}

h3 {
    background-color:#b2b2b2;
}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
    outline:1px solid #f8e7d8;
}

ul#main_menu {
    background-color:#b2b2b2;
}

table th {
    background-color:#b2b2b2;
}

table td {
    background-color:#e9e9e9;
}

table tr.odd td {
    background-color:#e0e0e0;
}

table tr:hover td {
    background-color:#ffffff;
}

em.marked {
    background-color:#ff9;
}

#last_seen_marker {
    border-top:2px solid #b2b2b2;
}