/*
Minichan 2.0 - Plain Pallet (squared)

stal@minichan.org
*/
.body { margin-bottom: 1em; }

body {
    background-color:#e7f4ff;
}

.body {
    background-color:#bce0ff;
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
}

.codebox {
    color: #393939;
}

span.quote {
    color:#2f9fff;
}

.highlighted {
    background-color:#d8eeff;
}

.border {
    background-color:#8ecbff;
    border:1px solid #50aeff;
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.60);
    box-shadow:0px 1px 1px rgba(255,255,255,0.60);
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.60);
}

.highlight {
    background-color:#ffff99;
}

#notice, h3, ul#main_menu, table {
    background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#70a9ff), to(#8fccff)) !important;
    background-image:-moz-linear-gradient(19% 75% 90deg,#70a9ff, #8fccff);
    box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    margin-bottom: 0.5em;
}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
    outline:0px solid #f4f3fe;
}

table th {
    background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#70a9ff), to(#8fccff)) !important;
    background-image:-moz-linear-gradient(19% 75% 90deg,#70a9ff, #8fccff) !important;
}

table td {
    background-color:#b4dcff;
}

table tr.odd td {
    background-color:#cde8ff;
}

table tr:hover td {
    background-color:#ffffff !important;
}

em.marked {
    background-color:#ff9;
}

#last_seen_marker {
    border-top:2px solid #70a9ff;
}

.video,a.video {
    background-color:#bce0ff;
    -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
    box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
}

a.video {
    -webkit-box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
    box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
    -moz-box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
}

#logo {
    display: none;
}