/*

Updated pink theme for Minichan

*/
.body { margin-bottom: 1em; }

body {
    background-color:#FFCCFF;
}

.body {
    background-color:#FFCCFF;
    box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
}

.codebox {
    color: #8B8B8B;
}

span.quote {
    color:#3C6D8A;
}

.highlighted {
    background-color:#FF99CC;
}

.border {
    background-color:#5dff6d;
    border:1px solid #FF66CC;
    box-shadow:0px 1px 1px rgba(255,255,255,0.60);
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.60);
}

.highlight {
    background-color:#ffff99;
}

#notice {
    background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#FF66CC), to(#FF99FF)) !important;
    background-image:-moz-linear-gradient(19% 75% 90deg,#FFCCFF, #FF99FF);
    box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
}

h3, ul#main_menu, table {
    background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#FF66CC), to(#FF66CC)) !important;
    background-image:-moz-linear-gradient(19% 75% 90deg,#FFCCFF, #FF66CC);
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    box-shadow:0px 1px 3px rgba(0,0,0,0.35);
}

table th {
    background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#FF66CC), to(#FF66CC)) !important;
    background-image:-moz-linear-gradient(19% 75% 90deg,#FFCCFF, #FF66CC);
}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
    outline:0px solid #f4f3fe;
}

table td {
    background-color:#FF99EE;
}

table tr.odd td {
    background-color:#FF99FF;
}

table tr:hover td {
    background-color:#ffffff;
}

em.marked {
    background-color:#ff9;
}

#last_seen_marker {
    border-top:2px solid #FF66CC;
}

.video,video,a.video {
    background-color:#b3ffba;
    -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
    box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
}

.body ul.menu li,.body ul.menu li a,.body ul.menu li span,.unimportant,.unimportant * {
    text-shadow: 0 0 #fff;
}

a.youtube_alternate,.noscreen {
    display: none;
}

#logo {
    display: none;
}

a.video {
    -webkit-box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
    box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
    -moz-box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
}
