/*
Lovely Lilac (<-- except it's purple, faggot) for TinyBBS-like (includes ATBBS2?) [squared]
Feel free to e-mail me better name suggestions and rage: stal@minichan.org
Shout-outs go to drmathochist, Marina, femanon, seisatsu, Ferus, etc. I <3 you all (especially Marina :D)!
*/
.common { width:13em!important;	text-align:left!important; }
.body { margin-bottom: 1em; }
#notice { text-align: center; }

body {
    background-color:#f6f1ff;
}

.body {
    background-color:#decefe;
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
}

.codebox {
    color: #393939;
}

span.quote {
    color:#8454ff;
}

.highlighted {
    background-color:#e8e3fe;
}

.border {
    background-color:#ead6ff;
    box-shadow:0px 1px 1px rgba(255,255,255,0.60);
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.60);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.60);
}

.highlight {
    background-color:#ffff99;
}

a {
    color:#000;
}

#notice {
    background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#c5b8ff), to(#dbd2ff)) !important;
    background-image:-moz-linear-gradient(19% 75% 90deg,#c5b8ff, #dbd2ff);
    background-image: -o-linear-gradient(90deg, #c5b8ff, #dbd2ff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#dbd2ff', EndColorStr='#c5b8ff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dbd2ff', EndColorStr='#c5b8ff')";
    box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);	
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
}

h3, ul#main_menu, table {
    background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#ae9aff), to(#c5b8ff)) !important;
    background-image:-moz-linear-gradient(19% 75% 90deg,#ae9aff, #c5b8ff);
    background-image: -o-linear-gradient(90deg, #ae9aff, #c5b8ff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#c5b8ff', EndColorStr='#ae9aff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#c5b8ff', EndColorStr='#ae9aff')";
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    box-shadow:0px 1px 3px rgba(0,0,0,0.35);
}

table th {
    background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#ae9aff), to(#c5b8ff)) !important;
    background-image:-moz-linear-gradient(19% 75% 90deg,#ae9aff, #c5b8ff);
    background-image: -o-linear-gradient(90deg, #ae9aff, #c5b8ff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#c5b8ff', EndColorStr='#ae9aff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#c5b8ff', EndColorStr='#ae9aff')";
}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
    outline:0px solid #f4f3fe!important;
}

table td { background-color:#e1dff5; }
table tr.odd td { background-color:#dbd9f4; }
table tr:hover td { background-color:#ffffff !important; }

em.marked {
    background-color:#ff9;
}

#last_seen_marker {
    border-top:2px solid #a49bff;
}

.video,video,a.video {
    background-color:#decefe;
    -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
    box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
}

a.video {
    -webkit-box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
    box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
    -moz-box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
}
#logo { display:none; } body { padding:1em 1em 0 1em; }