body { background-color:#82dbd6; }
.body { background-color:#82dbd6; }
.codebox { color: #8b8b8b; }
span.quote { color:#007f7c; }
.highlighted { background-color:#def; }
.spoiler { background-color:#000; }
.spoiler:hover { color:#fff; }
ul#main_menu { background-color:#4bbdba; }
table th { background-color:#4bbdba; }
table td { background-color:#9ee8e6; }
table tr.odd td { background-color:#a1ebe9; }
table tr:hover td { background-color:#fff; }
em.marked { background-color:#ff9; }
#last_seen_marker { border-top:2px solid #86d5d0; }
h3 { background-color:#4bbdba; }

.border {
    background-color:#b3e8e9;
    border:3px dashed #4bbdba;
}

.highlight { background-color:#ffff99; }

#notice {
    background-color:#b3e8e9;
    border:2px solid #4bbdba;
}


input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
    outline:1px solid #94b8cd;
}
