/*
Minichan 2.0 - Vanilla Violet (squared)

stal@minichan.org
*/
.common { width:13em!important;	text-align:left!important; }
.body { margin-bottom: 1em; }

body {
    background-color:#f6f1ff;
}

.body {
    background-color:#decefe;
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
}

.codebox {
    color: #393939;
}

span.quote {
    color:#8454ff;
}

.highlighted {
    background-color:#e8e3fe;
}

.border {
    background-color:#ead6ff;
    border:1px solid #897de6;
    box-shadow:0px 1px 1px rgba(255,255,255,0.60);
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.60);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.60);
}

.highlight {
    background-color:#ffff99;
}

#notice, h3, ul#main_menu, table {
    background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#ae9aff), to(#c5b8ff)) !important;
    background-image:-moz-linear-gradient(19% 75% 90deg,#ae9aff, #c5b8ff);
    box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
}

table th {
    background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#ae9aff), to(#c5b8ff)) !important;
    background-image:-moz-linear-gradient(19% 75% 90deg,#ae9aff, #c5b8ff) !important;
}

table td {
    background-color:#e1dff5;
}

table tr.odd td {
    background-color:#dbd9f4;
}

table tr:hover td {
    background-color:#ffffff !important;
}

em.marked {
    background-color:#ff9;
}

#last_seen_marker {
    border-top:2px solid #a49bff;
}

.video,video,a.video {
    background-color:#decefe;
    -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
    box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
}

a.video {
    -webkit-box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
    box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
    -moz-box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
}
/*
CSS is based on stal's Minichan Modern. You don't have to donate to keep this project alive. This CSS took 15 minutes to be generated.
All trademarks and copyrights in this CSS are owned by their respective parties.
*/