/*
Minichan 2.0 - Vivid Viridian (squared)

stal@minichan.org
*/
.body { margin-bottom: 1em; }

body {
    background-color:#efe;
}

.body {
    background-color:#b3ffba;
    box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
}

.codebox {
    color: #393939;
}

span.quote {
    color:#00b01d;
}

.highlighted {
    background-color:#e5ffe4;
}

.spoiler {
    background-color:#000;
    text-shadow: 0 0 #000;
}
.spoiler:hover {
    color:#fff;
}

.border {
    background-color:#5dff6d;
    border:1px solid #39eb56;
    box-shadow:0px 1px 1px rgba(255,255,255,0.60);
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.60);
}

#notice {
    background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#00e020), to(#88ee88)) !important;
    background-image:-moz-linear-gradient(19% 75% 90deg,#00e020, #88ee88);
    box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
}

h3 {
    background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#00e020), to(#88ee88)) !important;
    background-image:-moz-linear-gradient(19% 75% 90deg,#00e020, #88ee88);
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    box-shadow:0px 1px 3px rgba(0,0,0,0.35);
}

ul#main_menu {
    background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#00e020), to(#88ee88)) !important;
    background-image:-moz-linear-gradient(19% 75% 90deg,#00e020, #88ee88);
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
}

table {
    background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#00e020), to(#88ee88)) !important;
    background-image:-moz-linear-gradient(19% 75% 90deg,#00e020, #88ee88);
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.35);
    box-shadow:0px 1px 3px rgba(0,0,0,0.35);
}

table th {
    background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#00e020), to(#88ee88)) !important;
    background-image:-moz-linear-gradient(19% 75% 90deg,#00e020, #88ee88);
}

table td {
    background-color:#a3f0aa;
}

table tr.odd td {
    background-color:#b3ffba;
}

table tr:hover td {
    background-color:#ffffff !important;
}

em.marked {
    background-color:#ff9;
}

#last_seen_marker {
    border-top:2px solid #05da00;
}

.video,video,a.video {
    background-color:#b3ffba;
    -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
    box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.35);
}

a.youtube_alternate,.noscreen {
    display:none;
}

#logo {
    display:none;
}

a.video {
    -webkit-box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
    box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
    -moz-box-shadow:inset 0px 0px 0px rgba(0,0,0,0.35)!important;
}








