body {
    background:url("fade.png") repeat-x scroll center top #FFFFEE;
}

.body {
    background-color:#F0E0D6;
}

.codebox {
    color: #8b8b8b;
}

span.quote {
    color:#3C6D8A;
}

.highlighted {
    background-color:#F0C0B0;
}

.spoiler {
    background-color:#000000;
}

.spoiler:hover {
    color:#FFFFFF;
}

.border {
    background-color:#F0E0D6;
    border:3px dashed #EEAA88;
}

.highlight {
    background-color:#FFFF99;
}

a {
    color:#800000;
}

a strong {
    text-decoration:underline;
}

#notice {
    background-color:#FFFFEE;
    border:2px solid #EEAA88;
}

h1 {
    color:#800000;
}

h1 a {
    color:#800000;
}

h2 {
    color:#800000;
    font-family:tahoma;
    font-size:20px;
}

h3 {
    background-color:#EEAA88;
    color:#521111;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    outline:1px solid #FFFFEE;
}

ul#main_menu {
    background-color:#EEAA88;
}

table th {
    background-color:#EEAA88;
    color:#800000;
}

table td {
    background-color:#F0E0D6;
}

table tr.odd td {
    background-color:#E8D9CF;
}

table tr:hover td {
    background-color:#F8E8DE;
}

em.marked {
    background-color:#FFFF99;
}

#last_seen_marker {
    border-top:2px solid #FFFFEE;
}