/* Paisley CSS for *BBS */

body {
	background-image: url(/style/paisley/paisley_bg.jpg);
	background-attachment: fixed;
	color: #d5d5d5;
	font-family:arial, sans-serif;
	font-size:12px;
	padding:0 1em;
	margin:0px;
	}
	.body {
		background-color: #101010;
		line-height:1.5em;
		margin:0;
		overflow:hidden;
		padding:.5em;
		white-space:normal;
		word-wrap:break-word;
	}
	.body img {
		border:none;
		float:left;
		margin-bottom:6px;
		margin-right:7px;
	}
	.body ul.menu {
		clear:both;
		margin:.5em 0 0;
		text-align:right;
	}
		.body ul.menu li {
			margin:0 0 0 .5em;
		}

.codebox {
        overflow: auto;
        display: block;
        height: auto;
        max-height: 250px;
        white-space: normal;
        padding-top: 5px;
        font: 0.9em monaco, "andale mono","courier new", courier, mono;
        line-height: 1.3em;
        color: #393939;
        margin: 3px 0;
}

span.quote {
	color:#a9ffa9;
}

.highlighted {
	background-image: url(/style/paisley/paisley_fg.jpg);
	background-attachment: fixed;
}

.spoiler {
	background-color:#d5d5d5;
}
	.spoiler:hover {
		color:#000;
	}

.border {
	background-color:#888888;
	border:3px dashed #c3c3c3;
	margin:1em;
	padding:.5em;
}

.highlight {
	background-color:#ffff99;
	font-style:normal;
	font-weight:700;
}

a {
	color:#46db31;
}

#notice {
	background-color:#101010;
	border:2px solid #202020;
	padding:.5em;
}

h1 {
	font-size:17px;
	text-align:center;
}
	h1 a {
		color:#0ff333;
		text-decoration:none;
	}

h2 {
	font-size:16px;
}
	h2 a:hover {
	text-decoration:underline;
	}

h3 {
	background-image: url(/style/paisley/paisley_fg.jpg);
	background-attachment: fixed;
	font-size:12px;
	font-weight:400;
	margin:0;
	padding:.5em;
}

.reply_id {
	float:right;
	text-align:right;
	vertical-align:middle;
}

h4.section {
	font-size:15px;
	margin-bottom:7px;
}

h4.user {
	font-size:14px;
	margin:0 0 .5em;
}

label.common {
	float:left;
	padding-right:.5em;
	text-align:right;
	width:15em;
}

input,textarea {
	display:block;
	color: #d5d5d5;
	background-color: #101010;
	border: 1px solid #202020;
}

textarea {
	font-family:monospace;
	width:100%;
	background-color: #101010;
	color: #d5d5d5;

}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
	background-color: #101010;
	outline:1px solid #202020;
}

fieldset {
	margin:1em 0;
}

ul.body,ul.error_message {
	list-style-type:none;
}

ul.error_message {
	margin:0;
	padding:0;
}
	ul.error_message li {
		font-style:italic;
		padding:.2em;
	}

ul.menu {
	margin:1em;
	text-align:center;
}
	ul.menu li {
		display:inline;
		font-weight:700;
		margin:0 1em;
	}

ul#main_menu {
	background-image: url(/style/paisley/paisley_fg.jpg);
	background-attachment: fixed;
	margin:0 0 1em;
	padding:.5em;
}

ul.stuff {
	margin-bottom:2em;
}
	ul.stuff li {
		margin-bottom:.5em;
	}

table {
	border-collapse:collapse;
	margin-bottom:1em;
	width:100%;
}
	table th {
		background-color:#101010;
		padding:.5em;
		text-align:left;
	}
	table td {
		background-color:#202020;
		padding:.5em;
		vertical-align:top;
	}
	table tr.odd td {
		background-color:#101010;
	}
	table tr:hover td {
	background-image: url(/style/paisley/paisley_fg.jpg);
	background-attachment: fixed;
	}
	table .minimal {
		white-space:nowrap;
		width:1%;
}

.profile_fix {
	overflow:hidden;
	white-space:normal;
	word-wrap: break-word;
}

.reply_body_snippet,.snippet {
	font-style:italic;
}

.topic_headline a:visited {
	font-weight:400;
}

.topic_info {
	float: right;
	cursor: default;
}

em.marked {
	background-color:#ff9;
	font-style:normal;
	font-weight:700;
}

p.caption {
	font-size:11px;
	margin-top:2px;
}

.inline {
	display:inline;
}

#last_seen_marker {
	border-top:2px solid #d5d5d5;
}

#snapback_link {
	left:2px;
	position:fixed;
	top:50%;
}

.video,video,a.video {
	clear:both;
	margin:10px 0;
}

.standalone,.row {
	margin-bottom:1em;
}

.body ul.menu li,.body ul.menu li a,.body ul.menu li span,.unimportant,.unimportant * {
	font-size:10px;
}

a:hover,h2 a,#snapback_link a {
	text-decoration:none;
}

a.youtube_alternate,.noscreen {
	display:none;
}

h3#preview,h3#error,h3#replying_to,label,legend,.topic_headline a,.reply_body_snippet a,.snippet a {
	font-weight:700;
}

.help,.help_cursor {
	cursor:help;
}
